Repository GiantCroissant-Lunar/lablab-bean: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pointer-files, organize-scattered-docs

Path conditions:
  validate-pointer-files: any of: ^(.agent/|CLAUDE\.md|AGENTS\.md|\.github/copilot-instructions\.md|\.windsurf/rules\.md)
  organize-scattered-docs: any of: \.md$, but not: ^(docs/|README\.md|CHANGELOG\.md|CONTRIBUTING\.md|LICENSE\.md|AGENTS\.md|CLAUDE\.md)

fix: migrate pre-commit config to use modern stage names
  .pre-commit-config.yaml
Due: none

feat: organize scattered documentation files
  docs/README.md
  docs/_inbox/NEXT_STEPS.md
  docs/_inbox/PHASE10_COMPLETION_REPORT.md
  docs/_inbox/SESSION_SUMMARY.md
  docs/_inbox/TASK1_COMPLETE.md
  docs/_inbox/TASK3_COMPLETE.md
  docs/_inbox/TASK4_TESTING.md
  docs/_inbox/TASKS_3_4_FINAL_SUMMARY.md
  docs/adrs/2025-10-24-akka-sk-ecs-intelligent-avatars--DOC-2025-00037.md
  docs/findings/2025-10-20-documentation-system-setup--DOC-2025-00015.md
  docs/findings/2025-10-21-bugfix-player-movement-after-inventory--DOC-2025-00037.md
  docs/findings/2025-10-21-build-verification-status-effects--DOC-2025-00038.md
  docs/findings/2025-10-21-doc-organization-summary--DOC-2025-00040.md
  docs/findings/2025-10-25-intelligent-avatar-implementation-review.md
  docs/findings/debugging.md
  docs/guides/2025-10-21-implementation-summaries-index--DOC-2025-00039.md
  docs/guides/2025-10-21-plugin-contracts-api--DOC-2025-00038.md
  docs/guides/2025-10-21-plugin-development-quickstart--DOC-2025-00037.md
  docs/guides/2025-10-21-plugin-manifest-schema--DOC-2025-00039.md
  docs/guides/2025-10-21-plugin-system-overview--DOC-2025-00040.md
  docs/guides/2025-10-21-windows-nul-file-prevention--DOC-2025-00041.md
  docs/guides/ARCHITECTURE.md
  docs/guides/CONTRIBUTING.md
  docs/guides/DOCUMENTATION-SCHEMA.md
  docs/guides/ORGANIZATION.md
  docs/guides/QUICK-REFERENCE.md
  docs/guides/QUICKSTART-DEV.md
  docs/guides/QUICKSTART.md
  docs/guides/README.md
  docs/guides/RELEASE.md
  docs/guides/monster-template-example.md
  docs/index/organization-report.md
  docs/specs/2025-10-20-ui-improvements--DOC-2025-00017.md
  docs/specs/2025-10-22-dotnet-naming-architecture-adjustment--DOC-2025-00042.md
  git-hooks/checks/general/organize_scattered_docs.py
Due: none

fix: remove Unicode characters from organize_scattered_docs.py
  git-hooks/checks/general/organize_scattered_docs.py
Due: none

chore: clean up temporary files and test reports
  console-session-20251024-205611.txt
  test-reports/build.csv
  test-reports/build.html
  test-reports/plugin.csv
  test-reports/plugin.html
  test-reports/session.csv
  test-reports/session.html
Due: none

feat: restore AGENTS.md and CLAUDE.md files and add badges to README
  .github/copilot-instructions.md
  .kiro/steering/README.md
  .windsurf/rules.md
  AGENTS.md
  CLAUDE.md
  README.md
Due: validate-pointer-files, organize-scattered-docs

feat(memory): unify tag schema and DI; add IRagService (RAG) with Kernel Memory backend; update tests to new API and stabilize relationship tests
  dotnet/framework/LablabBean.AI.Agents/Services/MemoryService.cs
  dotnet/framework/LablabBean.Contracts.AI/Extensions/MemoryServiceExtensions.cs
  dotnet/framework/LablabBean.Contracts.AI/Memory/RagService.cs
  dotnet/framework/tests/LablabBean.AI.Agents.Tests/Integration/KnowledgeBaseRAGTests.cs
  dotnet/framework/tests/LablabBean.AI.Agents.Tests/Services/MemoryServiceTests.cs
  dotnet/framework/tests/LablabBean.AI.Agents.Tests/Services/RelationshipMemoryTests.cs
Due: none

test(rag): refactor KnowledgeBaseServiceTests to target IRagService with mocked IKernelMemory (SearchAsync + ImportTextAsync) and assert citations/health/delete flows
  dotnet/framework/tests/LablabBean.AI.Agents.Tests/Services/KnowledgeBaseServiceTests.cs
Due: none

docs: add Kernel Memory integration guide (resilience, retention, usage, DI wiring)
  docs/kernel-memory-integration.md
Due: none

feat: extend organize_docs.py to handle .txt files
  git-hooks/checks/python/organize_docs.py
Due: none

docs: organize scattered .txt files according to R-DOC-001
  docs/_inbox/PHASE5_STATUS.txt
  docs/_inbox/PHASE6_DASHBOARD.txt
  docs/_inbox/PHASE6_US3_SUMMARY.txt
  docs/_inbox/TASK_5.15_COMPLETE.txt
  docs/index/organization-report.md
Due: none

feat: add Roslynator CLI integration to pre-commit hooks
  .pre-commit-config.yaml
  README.md
  Taskfile.yml
  docs/_inbox/roslynator-integration.md
  git-hooks/checks/dotnet/roslynator-check
Due: none

feat: add unified media player research and spec
  docs/_inbox/TERMINAL_GRAPHICS_PROTOCOLS_RESEARCH.md
  docs/_inbox/UNIFIED_MEDIA_PLAYER_PLAN.md
  docs/_inbox/UNIFIED_MEDIA_PLAYER_RESEARCH.md
  specs/021-unified-media-player/checklists/requirements.md
  specs/021-unified-media-player/plan.md
  specs/021-unified-media-player/spec.md
Due: organize-scattered-docs

feat(rag-plugin): add Kernel Memory RAG plugin that registers IRagService via plugin registry using host-resolved IKernelMemory and optional resilience service
  dotnet/plugins/LablabBean.Plugins.RAG.KernelMemory/LablabBean.Plugins.RAG.KernelMemory.csproj
  dotnet/plugins/LablabBean.Plugins.RAG.KernelMemory/RagKernelMemoryPlugin.cs
Due: none

feat(vectorstore): add IVectorStore contract; implement File & Qdrant plugins; config-driven selection; decouple KernelMemory DI from Agents; fix nullability & plugin loader warnings
  dotnet/console-app/LablabBean.Console/appsettings.json
  dotnet/framework/LablabBean.Contracts.AI/Configuration/KernelMemoryOptions.cs
  dotnet/framework/LablabBean.Contracts.AI/Extensions/MemoryServiceExtensions.cs
  dotnet/framework/LablabBean.Contracts.AI/LablabBean.Contracts.AI.csproj
  dotnet/framework/LablabBean.Contracts.AI/Memory/RagService.cs
  dotnet/framework/LablabBean.Plugins.Contracts/IVectorStore.cs
  dotnet/plugins/LablabBean.Plugins.VectorStore.File/FileVectorStore.cs
  dotnet/plugins/LablabBean.Plugins.VectorStore.File/LablabBean.Plugins.VectorStore.File.csproj
  dotnet/plugins/LablabBean.Plugins.VectorStore.File/VectorStoreFilePlugin.cs
  dotnet/plugins/LablabBean.Plugins.VectorStore.File/plugin.json
  dotnet/plugins/LablabBean.Plugins.VectorStore.Qdrant/LablabBean.Plugins.VectorStore.Qdrant.csproj
  dotnet/plugins/LablabBean.Plugins.VectorStore.Qdrant/QdrantVectorStore.cs
  dotnet/plugins/LablabBean.Plugins.VectorStore.Qdrant/VectorStoreQdrantPlugin.cs
  dotnet/plugins/LablabBean.Plugins.VectorStore.Qdrant/plugin.json
Due: none

feat(ui): pluginize Terminal.Gui into LablabBean.Plugins.UI.Terminal and load last
  dotnet/Directory.Packages.props
  dotnet/console-app/Directory.Packages.props
  dotnet/console-app/LablabBean.Console/LablabBean.Console.csproj
  dotnet/console-app/LablabBean.Console/Program.cs
  dotnet/console-app/LablabBean.Console/Services/TerminalGuiService.cs
  dotnet/console-app/LablabBean.Game.TerminalUI/LablabBean.Game.TerminalUI.csproj
  dotnet/plugins/LablabBean.Plugins.ReactiveUI/plugin.json
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/LablabBean.Plugins.UI.Terminal.csproj
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/TerminalUiPlugin.cs
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/plugin.json
  dotnet/plugins/LablabBean.Plugins.VectorStore.Qdrant/VectorStoreQdrantPlugin.cs
  dotnet/tests/LablabBean.Contracts.AI.Tests/Configuration/QdrantConfigurationTests.cs
Due: none

feat(media): Phase 1 & 2 complete - setup and foundational contracts
  appsettings.Development.json
  dotnet/Directory.Packages.props
  dotnet/LablabBean.sln
  dotnet/framework/LablabBean.Contracts.Media/DTOs/AudioInfo.cs
  dotnet/framework/LablabBean.Contracts.Media/DTOs/MediaFrame.cs
  dotnet/framework/LablabBean.Contracts.Media/DTOs/MediaInfo.cs
  dotnet/framework/LablabBean.Contracts.Media/DTOs/PlaybackState.cs
  dotnet/framework/LablabBean.Contracts.Media/DTOs/Playlist.cs
  dotnet/framework/LablabBean.Contracts.Media/DTOs/RenderContext.cs
  dotnet/framework/LablabBean.Contracts.Media/DTOs/VideoInfo.cs
  dotnet/framework/LablabBean.Contracts.Media/Enums/FrameType.cs
  dotnet/framework/LablabBean.Contracts.Media/Enums/MediaFormat.cs
  dotnet/framework/LablabBean.Contracts.Media/Enums/PixelFormat.cs
  dotnet/framework/LablabBean.Contracts.Media/Enums/PlaybackStatus.cs
  dotnet/framework/LablabBean.Contracts.Media/Enums/RepeatMode.cs
  dotnet/framework/LablabBean.Contracts.Media/IMediaPlaybackEngine.cs
  dotnet/framework/LablabBean.Contracts.Media/IMediaRenderer.cs
  dotnet/framework/LablabBean.Contracts.Media/IMediaService.cs
  dotnet/framework/LablabBean.Contracts.Media/ITerminalCapabilityDetector.cs
  dotnet/framework/LablabBean.Contracts.Media/LablabBean.Contracts.Media.csproj
  dotnet/framework/LablabBean.Reactive/LablabBean.Reactive.csproj
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Core/LablabBean.Plugins.MediaPlayer.Core.csproj
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.FFmpeg/LablabBean.Plugins.MediaPlayer.FFmpeg.csproj
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Braille/LablabBean.Plugins.MediaPlayer.Terminal.Braille.csproj
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Kitty/LablabBean.Plugins.MediaPlayer.Terminal.Kitty.csproj
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Sixel/LablabBean.Plugins.MediaPlayer.Terminal.Sixel.csproj
  specs/021-unified-media-player/contracts/IMediaPlaybackEngine.cs
  specs/021-unified-media-player/contracts/IMediaRenderer.cs
  specs/021-unified-media-player/contracts/IMediaService.cs
  specs/021-unified-media-player/contracts/ITerminalCapabilityDetector.cs
  specs/021-unified-media-player/data-model.md
  specs/021-unified-media-player/plan.md
  specs/021-unified-media-player/quickstart.md
  specs/021-unified-media-player/research.md
  specs/021-unified-media-player/tasks.md
Due: organize-scattered-docs

docs: add implementation status report for unified media player (spec 021)
  README.md
  docs/_inbox/media-player-integration.md
  dotnet/console-app/LablabBean.Console/Commands/MediaPlayerCommand.cs
  dotnet/console-app/LablabBean.Console/Commands/PlaylistCommand.cs
  dotnet/console-app/LablabBean.Console/LablabBean.Console.csproj
  dotnet/console-app/LablabBean.Console/Program.cs
  dotnet/console-app/LablabBean.Console/Views/Media/MediaControlsView.cs
  dotnet/console-app/LablabBean.Console/Views/Media/MediaPlayerView.cs
  dotnet/framework/LablabBean.Reactive/ViewModels/Media/MediaPlayerViewModel.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Core/Detectors/TerminalCapabilityDetector.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Core/MediaPlayerPlugin.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Core/Services/MediaService.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.FFmpeg/FFmpegPlaybackEngine.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.FFmpeg/FFmpegPlaybackPlugin.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Braille/BrailleRenderer.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Braille/BrailleRendererPlugin.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Braille/Converters/BrailleConverter.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Braille/Converters/ColorQuantizer.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Braille/FodyWeavers.xml
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Braille/FodyWeavers.xsd
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Kitty/FodyWeavers.xml
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Kitty/FodyWeavers.xsd
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Sixel/FodyWeavers.xml
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Sixel/FodyWeavers.xsd
  specs/021-unified-media-player/IMPLEMENTATION_STATUS.md
Due: organize-scattered-docs

feat: implement core media player plugin infrastructure
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Core/LablabBean.Plugins.MediaPlayer.Core.csproj
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Core/MediaPlayerPlugin.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Core/plugin.json
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.FFmpeg/FFmpegPlaybackPlugin.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.FFmpeg/LablabBean.Plugins.MediaPlayer.FFmpeg.csproj
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.FFmpeg/plugin.json
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Braille/BrailleRendererPlugin.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Braille/LablabBean.Plugins.MediaPlayer.Terminal.Braille.csproj
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Braille/plugin.json
Due: none

feat: add Kitty and Sixel terminal renderer plugins
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Kitty/KittyRenderer.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Kitty/KittyRendererPlugin.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Kitty/LablabBean.Plugins.MediaPlayer.Terminal.Kitty.csproj
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Kitty/plugin.json
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Sixel/LablabBean.Plugins.MediaPlayer.Terminal.Sixel.csproj
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Sixel/SixelRenderer.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Sixel/SixelRendererPlugin.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Sixel/plugin.json
Due: none

fix: resolve Terminal.Gui 2.0 compatibility issues
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/TerminalUiPlugin.cs
Due: none

chore: update build system and console app
  .nuke/build.schema.json
  Taskfile.yml
  dotnet/console-app/LablabBean.Console/Program.cs
  website/build.ps1
Due: none

feat: add PowerShell media player runner script
  run-media-player.ps1
Due: none

docs: add build verification documentation
  specs/021-unified-media-player/BUILD_VERIFICATION.md
Due: organize-scattered-docs

docs: add comprehensive media player documentation
  ISSUE_FIX_COMPLETE.md
  MEDIA_PLAYER_PLUGINS_COMPLETE.md
  RUN_MEDIA_PLAYER.md
Due: organize-scattered-docs

docs: add Phase 3 completion documentation
  PHASE3_ALL_COMPLETE.md
  PHASE3_CHECKLIST.md
  PHASE3_COMPLETE.md
  PHASE3_FINAL_STATUS.md
  PHASE3_INTERACTIVE_CONTROLS.md
  PHASE3_NEXT_COMPLETE.md
  PHASE3_PROGRESS.md
  PHASE3_SESSION3_COMPLETE.md
  PHASE3_SESSION4_COMPLETE.md
  PHASE3_SUMMARY.md
  PHASE3_TASK_REPORT.md
Due: organize-scattered-docs

docs: add final status and verification reports
  FINAL_STATUS.md
  VERIFICATION_REPORT.md
Due: organize-scattered-docs

docs: organize scattered documentation files per R-DOC-001
  docs/_inbox/FINAL_STATUS.md
  docs/_inbox/ISSUE_FIX_COMPLETE.md
  docs/_inbox/MEDIA_PLAYER_PLUGINS_COMPLETE.md
  docs/_inbox/PHASE3_ALL_COMPLETE.md
  docs/_inbox/PHASE3_CHECKLIST.md
  docs/_inbox/PHASE3_COMPLETE.md
  docs/_inbox/PHASE3_FINAL_STATUS.md
  docs/_inbox/PHASE3_INTERACTIVE_CONTROLS.md
  docs/_inbox/PHASE3_NEXT_COMPLETE.md
  docs/_inbox/PHASE3_PROGRESS.md
  docs/_inbox/PHASE3_SESSION3_COMPLETE.md
  docs/_inbox/PHASE3_SESSION4_COMPLETE.md
  docs/_inbox/PHASE3_SUMMARY.md
  docs/_inbox/PHASE3_TASK_REPORT.md
  docs/_inbox/RUN_MEDIA_PLAYER.md
  docs/_inbox/VERIFICATION_REPORT.md
  docs/index/organization-report.md
Due: none

feat: add R-GIT-003 rule requiring pre-commit hooks
  .agent/base/20-rules.md
  .github/copilot-instructions.md
  .kiro/steering/README.md
  .windsurf/rules.md
  AGENTS.md
  CLAUDE.md
Due: validate-pointer-files, organize-scattered-docs

feat: add R-GIT-003 rule requiring pre-commit hooks
  .nuke/build.schema.json
  Taskfile.yml
  build/nuke/Build.cs
  build/nuke/Components/IBuildConfig.cs
  build/nuke/build.config.json.example
  git-hooks/checks/dotnet/dotnet-format-check
  git-hooks/checks/dotnet/one-type-per-file-check
  git-hooks/checks/dotnet/roslynator-check
Due: none

feat: Phase 1 - Create Rendering.Contracts and Contracts.Game.UI
  dotnet/framework/LablabBean.Contracts.Game.UI/IDungeonCrawlerUI.cs
  dotnet/framework/LablabBean.Contracts.Game.UI/LablabBean.Contracts.Game.UI.csproj
  dotnet/framework/LablabBean.Contracts.Game.UI/Models/ActivityLogModels.cs
  dotnet/framework/LablabBean.Contracts.Game.UI/Models/ActivityLogOptions.cs
  dotnet/framework/LablabBean.Contracts.Game.UI/Models/ActivityTypes.cs
  dotnet/framework/LablabBean.Contracts.Game.UI/Services/IActivityLog.cs
  dotnet/framework/LablabBean.Rendering.Contracts/ColorRef.cs
  dotnet/framework/LablabBean.Rendering.Contracts/Glyph.cs
  dotnet/framework/LablabBean.Rendering.Contracts/ISceneRenderer.cs
  dotnet/framework/LablabBean.Rendering.Contracts/LablabBean.Rendering.Contracts.csproj
  dotnet/framework/LablabBean.Rendering.Contracts/Palette.cs
  dotnet/framework/LablabBean.Rendering.Contracts/Tile.cs
  dotnet/framework/LablabBean.Rendering.Contracts/TileBuffer.cs
  specs/022-ui-architecture/IMPLEMENTATION_STATUS.md
  specs/022-ui-architecture/data-model.md
  specs/022-ui-architecture/plan.md
  specs/022-ui-architecture/quickstart.md
  specs/022-ui-architecture/spec.md
  specs/022-ui-architecture/tasks.md
Due: organize-scattered-docs

feat: Phase 2.1 - Create Rendering.Terminal plugin
  dotnet/plugins/LablabBean.Plugins.Rendering.Terminal/LablabBean.Plugins.Rendering.Terminal.csproj
  dotnet/plugins/LablabBean.Plugins.Rendering.Terminal/TerminalRenderingPlugin.cs
  dotnet/plugins/LablabBean.Plugins.Rendering.Terminal/TerminalSceneRenderer.cs
  dotnet/plugins/LablabBean.Plugins.Rendering.Terminal/plugin.json
Due: none

feat: Phase 2.2 - Create TerminalUiAdapter (WIP)
  dotnet/console-app/LablabBean.Game.TerminalUI/LablabBean.Game.TerminalUI.csproj
  dotnet/console-app/LablabBean.Game.TerminalUI/TerminalUiAdapter.cs
Due: none

docs: Update implementation status for Phase 2 progress
  specs/022-ui-architecture/IMPLEMENTATION_STATUS.md
Due: organize-scattered-docs

feat: Phase 2.3 - Wire up UI.Terminal plugin with TerminalUiAdapter
  dotnet/console-app/LablabBean.Game.TerminalUI/Services/HudService.cs.disabled
  dotnet/console-app/LablabBean.Game.TerminalUI/Services/WorldViewService.cs.disabled
  dotnet/console-app/LablabBean.Game.TerminalUI/TerminalUiAdapter.cs
  dotnet/console-app/LablabBean.Game.TerminalUI/Views/ActivityLogView.cs.disabled
  dotnet/console-app/LablabBean.Game.TerminalUI/Views/DialogueView.cs.disabled
  dotnet/console-app/LablabBean.Game.TerminalUI/Views/MapView.cs.disabled
  dotnet/console-app/LablabBean.Game.TerminalUI/Views/QuestLogView.cs.disabled
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/LablabBean.Plugins.UI.Terminal.csproj
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/TerminalUiPlugin.cs
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/plugin.json
Due: none

feat: Phase 3 - Terminal.Gui v2 API compatibility
  dotnet/console-app/LablabBean.Game.TerminalUI/Services/HudService.cs
  dotnet/console-app/LablabBean.Game.TerminalUI/Services/WorldViewService.cs
  dotnet/console-app/LablabBean.Game.TerminalUI/TerminalUiAdapter.cs
  dotnet/console-app/LablabBean.Game.TerminalUI/Views/ActivityLogView.cs
  dotnet/console-app/LablabBean.Game.TerminalUI/Views/MapView.cs
Due: none

docs: Update Phase 3 status in IMPLEMENTATION_STATUS.md
  specs/022-ui-architecture/IMPLEMENTATION_STATUS.md
Due: organize-scattered-docs

feat: Phase 4 - Terminal.Gui integration testing
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/plugin.json
  scripts/deploy-plugins-for-test.ps1
  specs/022-ui-architecture/IMPLEMENTATION_STATUS.md
  specs/022-ui-architecture/PHASE4_REPORT.md
  test-terminal-ui.ps1
Due: organize-scattered-docs

feat: Phase 5.1 - SadConsole rendering and UI plugins
  dotnet/plugins/Directory.Packages.props
  dotnet/plugins/LablabBean.Plugins.Rendering.SadConsole/LablabBean.Plugins.Rendering.SadConsole.csproj
  dotnet/plugins/LablabBean.Plugins.Rendering.SadConsole/SadConsoleRenderingPlugin.cs
  dotnet/plugins/LablabBean.Plugins.Rendering.SadConsole/SadConsoleSceneRenderer.cs
  dotnet/plugins/LablabBean.Plugins.Rendering.SadConsole/plugin.json
  dotnet/plugins/LablabBean.Plugins.UI.SadConsole/LablabBean.Plugins.UI.SadConsole.csproj
  dotnet/plugins/LablabBean.Plugins.UI.SadConsole/SadConsoleUiPlugin.cs
  dotnet/plugins/LablabBean.Plugins.UI.SadConsole/plugin.json
  dotnet/windows-app/LablabBean.Game.SadConsole/LablabBean.Game.SadConsole.csproj
  dotnet/windows-app/LablabBean.Game.SadConsole/SadConsoleUiAdapter.cs
  specs/022-ui-architecture/IMPLEMENTATION_STATUS.md
Due: organize-scattered-docs
