Repository GiantCroissant-Lunar/lablab-bean: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-pointer-files, organize-scattered-docs, dotnet-format, roslynator-analyze, one-type-per-file

validate-pointer-files:
  name: Validate agent pointer files
  entry: python git-hooks/checks/general/validate_agent_pointers.py
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

organize-scattered-docs:
  name: Detect scattered documentation files
  entry: python git-hooks/checks/general/organize_scattered_docs.py
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-commit

dotnet-format:
  name: .NET Format Check
  entry: bash git-hooks/checks/dotnet/dotnet-format-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

roslynator-analyze:
  name: Roslynator Code Analysis
  entry: bash git-hooks/checks/dotnet/roslynator-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

one-type-per-file:
  name: One Type Per File Check
  entry: bash git-hooks/checks/dotnet/one-type-per-file-check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(ui): Complete Phase 6 & 7 - Capability validation and documentation
  appsettings.Development.json
  docs/_inbox/PHASE5_INTEGRATION_COMPLETE.md
  docs/_inbox/PHASE6_COMPLETE.md
  docs/_inbox/PHASE6_US2_COMPLETE.md
  docs/_inbox/PHASE7_COMPLETE.md
  docs/guides/2025-10-27-mapperly-quicktype-adoption--DOC-2025-00046.md
  docs/index/organization-report.md
  dotnet/framework/LablabBean.Plugins.Core/CapabilityValidator.cs
  dotnet/framework/LablabBean.Plugins.Core/PluginLoader.cs
  dotnet/plugins/LablabBean.Plugins.UI.SadConsole/SadConsoleUiPlugin.cs
  dotnet/plugins/LablabBean.Plugins.UI.SadConsole/plugin.json
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/plugin.json
  dotnet/plugins/tests/LablabBean.Plugins.Core.Tests/CapabilityValidatorTests.cs
  dotnet/windows-app/LablabBean.Game.SadConsole/SadConsoleUiAdapter.cs
  dotnet/windows-app/LablabBean.Windows/LablabBean.Windows.csproj
  dotnet/windows-app/LablabBean.Windows/Program.cs
  dotnet/windows-app/LablabBean.Windows/appsettings.json
  specs/022-ui-architecture/IMPLEMENTATION_STATUS.md
  specs/022-ui-architecture/PHASE6_REPORT.md
  specs/022-ui-architecture/PHASE7_REPORT.md
  specs/022-ui-architecture/UI_QUICKSTART.md
  specs/022-ui-architecture/quickstart-old.md
Due: organize-scattered-docs, dotnet-format, roslynator-analyze, one-type-per-file

chore: fix end-of-file formatting for ActivityLogAdapter via pre-commit hooks
  docs/ui-rendering-binding.md
  dotnet/console-app/LablabBean.Console/LablabBean.Console.csproj
  dotnet/console-app/LablabBean.Console/Services/ConsoleHostedService.cs
  dotnet/console-app/LablabBean.Console/Services/DungeonCrawlerService.cs
  dotnet/console-app/LablabBean.Console/Services/ITerminalGuiService.cs
  dotnet/console-app/LablabBean.Console/Services/TerminalGuiService.cs
  dotnet/console-app/LablabBean.Console/Views/InteractiveWindow.cs
  dotnet/console-app/LablabBean.Console/Views/MainWindow.cs
  dotnet/console-app/LablabBean.Console/Views/SimpleWindow.cs
  dotnet/console-app/LablabBean.Game.TerminalUI/Services/WorldViewService.cs
  dotnet/console-app/LablabBean.Game.TerminalUI/Styles/TerminalRenderStyles.cs
  dotnet/console-app/LablabBean.Game.TerminalUI/TerminalUiAdapter.cs
  dotnet/console-app/LablabBean.Game.TerminalUI/Views/ActivityLogView.cs
  dotnet/framework/LablabBean.Contracts.Game.UI/LablabBean.Contracts.Game.UI.csproj
  dotnet/framework/LablabBean.Contracts.Game.UI/Services/Adapters/ActivityLogAdapter.cs
  dotnet/framework/LablabBean.Plugins.Contracts/IRenderTargetBinder.cs
  dotnet/plugins/LablabBean.Plugins.Rendering.SadConsole/SadConsoleSceneRenderer.cs
  dotnet/plugins/LablabBean.Plugins.UI.SadConsole/SadConsoleUiPlugin.cs
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/TerminalUiPlugin.cs
  dotnet/windows-app/LablabBean.Game.SadConsole/Renderers/ActivityLogRenderer.cs
  dotnet/windows-app/LablabBean.Game.SadConsole/SadConsoleUiAdapter.cs
  dotnet/windows-app/LablabBean.Game.SadConsole/Screens/GameScreen.cs
  dotnet/windows-app/LablabBean.Windows/Program.cs
  specs/022-ui-architecture/IMPLEMENTATION_STATUS.md
Due: organize-scattered-docs, dotnet-format, roslynator-analyze, one-type-per-file

feat(codegen): complete SPEC-023 quicktype & Mapperly adoption
  .github/workflows/build-and-test.yml
  .nuke/build.schema.json
  Taskfile.yml
  build/nuke/Build.cs
  docs/findings/quicktype-mapperly-implementation-2025-10-27.md
  docs/guides/2025-10-27-mapperly-quicktype-adoption--DOC-2025-00046.md
  docs/guides/code-generation-checklist.md
  docs/guides/code-generation-quickstart.md
  docs/guides/code-generation-workflow.md
  docs/index/organization-report.md
  dotnet/.editorconfig
  dotnet/Directory.Build.props
  dotnet/Directory.Packages.props
  dotnet/LablabBean.sln
  dotnet/framework/LablabBean.Framework.Generated/ExternalApis/QdrantModels.g.cs
  dotnet/framework/LablabBean.Framework.Generated/LablabBean.Framework.Generated.csproj
  dotnet/framework/LablabBean.Framework.Generated/README.md
  dotnet/plugins/LablabBean.Plugins.VectorStore.File/FileVectorStore.cs
  dotnet/plugins/LablabBean.Plugins.VectorStore.File/LablabBean.Plugins.VectorStore.File.csproj
  dotnet/plugins/LablabBean.Plugins.VectorStore.Qdrant/LablabBean.Plugins.VectorStore.Qdrant.csproj
  dotnet/plugins/LablabBean.Plugins.VectorStore.Qdrant/QdrantVectorStore.cs
  schemas/README.md
  schemas/qdrant/point-response-sample.json
  schemas/qdrant/point-response.json
  specs/023-quicktype-mapperly-adoption/COMPLETION_STATUS.md
  specs/023-quicktype-mapperly-adoption/IMPLEMENTATION_SUMMARY.txt
  specs/023-quicktype-mapperly-adoption/checklists/requirements.md
  specs/023-quicktype-mapperly-adoption/contracts/qdrant-scored-point.schema.json
  specs/023-quicktype-mapperly-adoption/contracts/qdrant-search-request.schema.json
  specs/023-quicktype-mapperly-adoption/contracts/qdrant-search-response.schema.json
  specs/023-quicktype-mapperly-adoption/data-model.md
  specs/023-quicktype-mapperly-adoption/plan.md
  specs/023-quicktype-mapperly-adoption/quickstart.md
  specs/023-quicktype-mapperly-adoption/research.md
  specs/023-quicktype-mapperly-adoption/spec.md
  specs/023-quicktype-mapperly-adoption/tasks.md
Due: organize-scattered-docs, dotnet-format, roslynator-analyze, one-type-per-file

fix(async): resolve all MA0040 CancellationToken warnings across codebase
  docs/findings/2025-10-27-ma0040-cancellationtoken-fixes.md
  dotnet/console-app/LablabBean.Console/Commands/MediaPlayerCommand.cs
  dotnet/console-app/LablabBean.Console/Commands/PlaylistCommand.cs
  dotnet/console-app/LablabBean.Console/Commands/VerifyPluginsCommand.cs
  dotnet/framework/LablabBean.Contracts.Game.UI/LablabBean.Contracts.Game.UI.csproj
  dotnet/framework/LablabBean.Contracts.Game.UI/Services/Adapters/ActivityLogAdapter.cs
  dotnet/framework/LablabBean.Reporting.Analytics/SessionJsonParser.cs
  dotnet/framework/LablabBean.SourceGenerators.Proxy/ProxyServiceGenerator.cs
  dotnet/framework/tests/LablabBean.AI.Agents.Tests/LablabBean.AI.Agents.Tests.csproj
  dotnet/framework/tests/LablabBean.AI.Agents.Tests/Services/RelationshipMemoryTests.cs
  dotnet/tests/LablabBean.Contracts.AI.Tests/Services/MemoryServiceTests.cs
Due: dotnet-format, roslynator-analyze, one-type-per-file

fix(windows): resolve IConfiguration DI error and SadConsole compilation issues
  dotnet/windows-app/LablabBean.Game.SadConsole/Renderers/HudRenderer.cs
  dotnet/windows-app/LablabBean.Game.SadConsole/SadConsoleUiAdapter.cs
  dotnet/windows-app/LablabBean.Game.SadConsole/Screens/GameScreen.cs
  dotnet/windows-app/LablabBean.Game.SadConsole/Services/ReportExportService.cs
  dotnet/windows-app/LablabBean.Game.SadConsole/UI/AchievementHudRenderer.cs
  dotnet/windows-app/LablabBean.Game.SadConsole/UI/LeaderboardRenderer.cs
  dotnet/windows-app/LablabBean.Windows/Program.cs
Due: dotnet-format, roslynator-analyze, one-type-per-file

feat: organize project structure and add TruffleHog security scanning
  .github/workflows/build-and-test.yml
  .github/workflows/security-scan.yml
  .gitignore
  .trufflehog.yml
  config/README.md
  scripts/README.md
  scripts/launch-wezterm-console.ps1
  scripts/publish-console-artifact.ps1
  scripts/run-console-from-artifact.ps1
  scripts/run-console-with-args.ps1
  scripts/run-media-player.ps1
  scripts/security-scan-local.ps1
  scripts/test/test-apps-verification.ps1
  scripts/test/test-terminal-ui.ps1
  test-reports/README.md
Due: organize-scattered-docs

docs(version): align versions to v0.0.3 and add version management guide
  .markdownlint.yaml
  docs/_inbox/2025-10-28-version-management-guide--DOC-2025-00056.md
  dotnet/Directory.Build.props
  website/package.json
Due: none

fix(build): stabilize PublishAll and Taskfile; sanitize .sln; fix Terminal UI compile
  Taskfile.yml
  build/nuke/Build.cs
  dotnet/LablabBean.sln
  dotnet/console-app/LablabBean.Game.TerminalUI/TerminalUiAdapter.cs
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/TerminalUiPlugin.cs
  scripts/add-apphost-to-sln.ps1
  scripts/fix-sln.ps1
Due: dotnet-format, roslynator-analyze, one-type-per-file

feat(spec-kit): add multi-agent task runner support for Windsurf/Cursor/Codex/Gemini/Kiro
  .agent/adapters/codex.md
  .agent/adapters/gemini.md
  .agent/adapters/kiro.md
  .agent/adapters/windsurf.md
  .github/copilot-instructions.md
  .kiro/steering/README.md
  .windsurf/rules.md
  AGENTS.md
  CLAUDE.md
  Taskfile.yml
  docs/_inbox/2025-10-28-claude-task-master-vs-spec-kit-comparison--DOC-2025-00085.md
  docs/_inbox/2025-10-28-multi-agent-speckit-implementation--DOC-2025-00086.md
Due: validate-pointer-files, organize-scattered-docs

fix(plugins): WezTerm + Terminal.Gui v2 flow
  dotnet/Directory.Packages.props
  dotnet/apphost/LablabBean.AppHost/LablabBean.AppHost.csproj
  dotnet/apphost/LablabBean.AppHost/Program.cs
  dotnet/console-app/LablabBean.Console/LablabBean.Console.csproj
  dotnet/console-app/LablabBean.Console/appsettings.json
  dotnet/framework/LablabBean.Plugins.Core/PluginLoadContext.cs
  dotnet/framework/LablabBean.Plugins.Core/PluginLoader.cs
  dotnet/plugins/LablabBean.Plugins.ReactiveUI/plugin.json
  dotnet/plugins/LablabBean.Plugins.Recording.FFmpeg/Services/FFmpegVideoRecordingService.cs
  dotnet/plugins/LablabBean.Plugins.Rendering.Terminal/LablabBean.Plugins.Rendering.Terminal.csproj
  dotnet/plugins/LablabBean.Plugins.Rendering.Terminal/TerminalRenderingPlugin.cs
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/LablabBean.Plugins.UI.Terminal.csproj
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/TerminalUiPlugin.cs
  scripts/launch-wezterm-console.ps1
  scripts/publish-console-artifact.ps1
  scripts/start-aspire.ps1
  test-reports/last-console-run.txt
Due: dotnet-format, roslynator-analyze, one-type-per-file

feat: Add ITerminalRenderBinding contract and remove reflection
  dotnet/framework/LablabBean.Rendering.Terminal.Contracts/ITerminalRenderBinding.cs
  dotnet/framework/LablabBean.Rendering.Terminal.Contracts/LablabBean.Rendering.Terminal.Contracts.csproj
  dotnet/plugins/LablabBean.Plugins.Rendering.Terminal/LablabBean.Plugins.Rendering.Terminal.csproj
  dotnet/plugins/LablabBean.Plugins.Rendering.Terminal/TerminalRenderingPlugin.cs
  dotnet/plugins/LablabBean.Plugins.Rendering.Terminal/TerminalSceneRendererBinding.cs
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/LablabBean.Plugins.UI.Terminal.csproj
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/TerminalUiPlugin.cs
  specs/024-name-terminalguibinding-refactor/plan.md
  specs/024-name-terminalguibinding-refactor/spec.md
  specs/024-name-terminalguibinding-refactor/tasks.md
Due: organize-scattered-docs, dotnet-format, roslynator-analyze, one-type-per-file

feat: Add capability selection with Skip/Only and summary logging
  appsettings.Development.json
  dotnet/framework/LablabBean.Plugins.Core/CapabilityValidator.cs
  specs/024-name-terminalguibinding-refactor/tasks.md
Due: organize-scattered-docs, dotnet-format, roslynator-analyze, one-type-per-file

feat: Remove EventBus fallback registration in PluginLoader
  dotnet/framework/LablabBean.Plugins.Core/PluginLoader.cs
  specs/024-name-terminalguibinding-refactor/tasks.md
  specs/025-kitty-graphics-scene-rendering/spec.md
Due: organize-scattered-docs, dotnet-format, roslynator-analyze, one-type-per-file

feat: Add publish validation checklist
  scripts/publish-console-artifact.ps1
  specs/024-name-terminalguibinding-refactor/tasks.md
  specs/025-kitty-graphics-scene-rendering/plan.md
Due: organize-scattered-docs

chore(spec-024): finalize Terminal.Gui binding + set PreferredRenderer default
  dotnet/console-app/LablabBean.Console/appsettings.json
Due: none

feat: add Biome to pre-commit hooks for JS/TS linting and formatting
  .pre-commit-config.yaml
  biome.json
  website/.biomeignore
Due: none

feat(spec-025): Phase 1-2 - Add Kitty Graphics Protocol infrastructure
  dotnet/Directory.Packages.props
  dotnet/framework/LablabBean.Rendering.Contracts/ISceneRenderer.cs
  dotnet/framework/LablabBean.Rendering.Contracts/ImageTile.cs
  dotnet/framework/LablabBean.Rendering.Contracts/TileBuffer.cs
  dotnet/framework/LablabBean.Rendering.Terminal.Kitty/KittyGraphicsProtocol.cs
  dotnet/framework/LablabBean.Rendering.Terminal.Kitty/KittyOptions.cs
  dotnet/framework/LablabBean.Rendering.Terminal.Kitty/LablabBean.Rendering.Terminal.Kitty.csproj
Due: dotnet-format, roslynator-analyze, one-type-per-file

feat(spec-025): Phase 3 - Implement Kitty rendering in TerminalSceneRenderer
  dotnet/plugins/LablabBean.Plugins.Rendering.Terminal/LablabBean.Plugins.Rendering.Terminal.csproj
  dotnet/plugins/LablabBean.Plugins.Rendering.Terminal/TerminalRenderingPlugin.cs
  dotnet/plugins/LablabBean.Plugins.Rendering.Terminal/TerminalSceneRenderer.cs
Due: dotnet-format, roslynator-analyze, one-type-per-file

feat(spec-025): Phase 5 - Add unified tileset system
  assets/README-tileset.md
  assets/tiles.png
  dotnet/console-app/LablabBean.Console/appsettings.json
  dotnet/framework/LablabBean.Rendering.Contracts/LablabBean.Rendering.Contracts.csproj
  dotnet/framework/LablabBean.Rendering.Contracts/TileRasterizer.cs
  dotnet/framework/LablabBean.Rendering.Contracts/Tileset.cs
  dotnet/framework/LablabBean.Rendering.Contracts/TilesetLoader.cs
  dotnet/windows-app/LablabBean.Windows/appsettings.json
Due: organize-scattered-docs, dotnet-format, roslynator-analyze, one-type-per-file

feat(spec-025): Phase 6 - Integrate image buffer building in TerminalUiAdapter
  dotnet/console-app/LablabBean.Game.TerminalUI/TerminalUiAdapter.cs
  dotnet/plugins/LablabBean.Plugins.UI.Terminal/TerminalUiPlugin.cs
Due: dotnet-format, roslynator-analyze, one-type-per-file

feat(spec-025): Phase 7 - Complete KittyRenderer for video playback
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Kitty/KittyRenderer.cs
  dotnet/plugins/LablabBean.Plugins.MediaPlayer.Terminal.Kitty/LablabBean.Plugins.MediaPlayer.Terminal.Kitty.csproj
Due: dotnet-format, roslynator-analyze, one-type-per-file

docs(spec-025): Phase 8 - Add comprehensive documentation
  docs/findings/media-player-integration.md
  docs/guides/KITTY_GRAPHICS_SETUP.md
  docs/ui-rendering-binding.md
  specs/025-kitty-graphics-scene-rendering/FINAL_COMPLETION.md
  specs/025-kitty-graphics-scene-rendering/IMPLEMENTATION_COMPLETE.md
  specs/025-kitty-graphics-scene-rendering/PHASE2_GUIDE.md
  specs/025-kitty-graphics-scene-rendering/PHASE3_GUIDE.md
  specs/025-kitty-graphics-scene-rendering/PHASE4_GUIDE.md
  specs/025-kitty-graphics-scene-rendering/PHASE5_COMPLETION_REPORT.md
  specs/025-kitty-graphics-scene-rendering/PHASE8_FINAL_STATUS.md
  specs/025-kitty-graphics-scene-rendering/PROGRESS.md
  specs/025-kitty-graphics-scene-rendering/QUICK_REFERENCE.md
  specs/025-kitty-graphics-scene-rendering/REVIEW_RESPONSE.md
  specs/025-kitty-graphics-scene-rendering/TESTING_COMPLETE_STRATEGY.md
  specs/025-kitty-graphics-scene-rendering/TESTING_PLAN.md
  specs/025-kitty-graphics-scene-rendering/tasks.md
  specs/025-kitty-graphics-scene-rendering/test-reports/PHASE1_SUMMARY.md
  specs/025-kitty-graphics-scene-rendering/test-reports/PHASE2_IN_PROGRESS.md
  specs/025-kitty-graphics-scene-rendering/test-reports/PHASE2_VERIFICATION_SUMMARY.md
  specs/025-kitty-graphics-scene-rendering/test-reports/PHASE3_STATUS_REPORT.md
  specs/025-kitty-graphics-scene-rendering/test-reports/PHASE4_COMPLETION_REPORT.md
  specs/025-kitty-graphics-scene-rendering/test-reports/PHASE4_STATUS_REPORT.md
  specs/025-kitty-graphics-scene-rendering/test-reports/phase1-local-validation.md
  specs/025-kitty-graphics-scene-rendering/test-reports/t076-wezterm-test.md
Due: organize-scattered-docs

test(spec-025): Add testing scripts and test assets
  run-phase8-validation.ps1
  scripts/run-phase3-tests.ps1
  scripts/run-phase4-quick-test.ps1
  scripts/test-spec025-phase1.ps1
  scripts/test-spec025-phase3.ps1
  scripts/test-spec025-t076-wezterm.ps1
  scripts/verify-phase2.ps1
  specs/025-kitty-graphics-scene-rendering/GIT_COMMIT_SUMMARY.md
  specs/025-kitty-graphics-scene-rendering/test-assets/corrupted-tileset.png
Due: organize-scattered-docs

chore(website): Apply code formatting with prettier/biome
  website/apps/web/src/server.ts
  website/packages/terminal/src/index.ts
  website/packages/terminal/src/manager.ts
  website/packages/terminal/src/server.ts
  website/tests/plugin-report.spec.ts
  website/tests/web-terminal.spec.ts
Due: none

docs: Add MIT license and update README with improved structure
  LICENSE
  README.md
Due: none

chore(spec): 3-tiered-architecture sync spec docs and config
  specs/003-tiered-architecture/meta.json
  specs/003-tiered-architecture/spec.md
Due: organize-scattered-docs

feat: consume lunar-snake-hub via runtime sync
  .agent/.github/workflows/spec-apply-tasks.yml
  .agent/agents/langgraph/apply_task.py
  .gitignore
  .hub-manifest.toml
  .pre-commit-config.yaml
  Taskfile.yml
Due: validate-pointer-files

Path conditions:
  validate-pointer-files: any of: ^(.agent/|CLAUDE\.md|AGENTS\.md|\.github/copilot-instructions\.md|\.windsurf/rules\.md)
  organize-scattered-docs: any of: \.md$, but not: ^(docs/|README\.md|CHANGELOG\.md|CONTRIBUTING\.md|LICENSE\.md|AGENTS\.md|CLAUDE\.md)
  dotnet-format: any of: \.(cs|csproj|sln)$
  roslynator-analyze: any of: \.(cs|csproj|sln)$
  one-type-per-file: any of: \.cs$
